nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;
    background-color: white;
    z-index: 100;
    padding-top: 1em;
    padding-bottom: 1em;
}

.nav-button {
    color: #a27eab;
    font-size: 1.2rem;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.pfp {
    height: 10rem;
    width: 10rem;
    padding-left: 1em;
    padding-right: 1em;
}

body {
    padding: 0px 15%;
    height: 100%;
    margin-bottom: 0;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
}

#title {
    font-size: 5rem;
    margin-bottom: 1rem;
    color: #442b63
}

#team {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

#team-header {
    margin-left: 0;
    margin-right: auto;
    margin-top: 1em;
}

.slide-right-title{
    animation-name: slide-right-title;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

@keyframes slide-right-title {
    0% {
        margin-right: 100%;
        width: 100%;
    }
    100% {
        margin-right: 0%;
        width: 100%;
    }
}

.team-block {
    display: flex;
    flex-direction: flex-start;
    width: 75%;
    animation-timing-function: ease-out;
    align-items: center;
}

.right {
    align-self: flex-end;
    flex-direction: row-reverse;
}

.slide-right{
    animation-duration: 1s;
    animation-name: slide-right;
}


@keyframes slide-right {
    0% {
        margin-right: 100%;
    }
    100% {
        margin-right: 0%;
    }
}

.left {
    align-self: flex-start;
}

.slide-left{
    animation-duration: 1s;
    animation-name: slide-left;
}

@keyframes slide-left {
    0% {
        margin-left: 100%;
    }
    100% {
        margin-left: 0%;
    }
}


#about {
    margin: 10rem 0px;
    line-height: 2rem;
    font-size: 1.5rem;
    animation-name: fade-in;
    animation-duration: 3s;
}

h2 {
    font-size: 3rem;
}

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

#projects-header{
    animation-name: fade-in;
    animation-duration: 3s;
    padding-top: 1em;
}

#projects-container {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    margin-bottom: 10%;
    gap: 1rem;
    animation-name: fade-in;
    animation-duration: 3s;
}

.project-box {
    width: 15rem;
    height: auto;
    background-color: rgb(218, 218, 218);
    padding: 0.5rem;
    border: 0.5rem solid rgb(218, 218, 218);
    border-radius: 0.7rem;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.project-icon {
    width: 12rem;
    height: 12rem;
    object-fit: contain;
    align-self: center;
    margin-top: 10%;
}

.project-title {
    margin-bottom: 0;
}


#contact {
    background-color: #442b63;
    margin-bottom: 0;
    padding: 1rem;
    color: white
}

.emerge{
    animation-name: emerge;
    animation-duration: 1s;
}

@keyframes emerge {
	0% {
		transform: scale(0, .025);
	}
	50% {
		transform: scale(1, .025);
	}
}