nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;
    background-color: white;
    z-index: 100;
}

.nav-button {
    color: violet;
    font-size: 1.2rem;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.pfp {
    height: 10rem;
    width: 10rem;
    position: sticky;
}
body {
    padding: 0px 15%;
    height: 100%;
    margin-bottom: 0;
    overflow-x: hidden;
}

#title {
    font-size: 5rem;
    margin-bottom: 1rem;
    color: rgb(107, 10, 96)
}

#team {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

#team-header {
    margin-left: 0;
    margin-right: auto;
    animation-name: slide-right;
    animation-duration: 3s;
}

.team-block {
    display: flex;
    flex-direction: flex-start;
    width: auto;
}

.right {
    margin-left: auto;
    margin-right: 0;
    animation-duration: 3s;
    animation-name: slide-right;
}

@keyframes slide-right {
    0% {
        margin-right: 100%;
        width: 100%;
    }
    100% {
        margin-right: 0%;
        width: 100%;
    }
}

.left {
    margin-left: 0;
    margin-right: auto;
    animation-duration: 3s;
    animation-name: slide-left;
}

@keyframes slide-left {
    0% {
        margin-left: 100%;
        width: 100%;
    }
    100% {
        margin-left: 0%;
        width: 100%;
    }
}


#about {
    margin: 10rem 0px;
    line-height: 2rem;
    font-size: 1.5rem;
    animation-name: fade-in;
    animation-duration: 3s;
}

h2 {
    font-size: 3rem;
}

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

#projects-header{
    animation-name: fade-in;
    animation-duration: 3s;
}

#projects-container {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    margin-bottom: 10%;
    gap: 1rem;
    animation-name: fade-in;
    animation-duration: 3s;
}

.project-box {
    width: 25%;
    height: auto;
    background-color: rgb(218, 218, 218);
    padding: 0.5rem;
    border: 0.5rem solid rgb(218, 218, 218);
    border-radius: 0.7rem;
}

.project-icon {
    width: 80%;
    height: auto;
    margin: auto;
}


#contact {
    background-color: blueviolet;
    margin-bottom: 0;
    padding: 1rem;
}